body {
    font-family: Arial, sans-serif;
    background-image: url("imgs/wallpaper.pekka.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    justify-content: center;
    height: 100vh;
}

#titulo {
    color: #3498db;
    padding: 3vh;
}

li {
    background-color: white;
    border: #3498db 3px solid;
    display: inline-block;
    margin: 10px;
    border-radius: 5%;
}

ul, h1{
   display: flex;
   justify-content: center;
}
  
button {
	border: black 0px solid;
    font-weight: bolder;
    color: #000020;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 1em;
    border: 3px solid #991111;
    border-radius: 10%;
    background-color: #3498db;
}
  
#maisquizzes {
	font-size: 1.65em;  
}

#ty {
	margin-top: 500vh;
	width: 100%;
	padding-left: auto;
}
  
#caixa1{
    margin-top: 350px;
}

#caixa{
    margin-top: 350px;
    float: inline-end;
    margin-left: 3  0px;
    
}

#criar{
    width: 100px;   
    margin-top: 40px;
    margin-left: 805px;
    float:none;
    font-weight: bolder;
    color: #000020;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 1em;
    border: 3px solid #991111;
    border-radius: 10%;
    background-color: #3498db;
}

#info{
    float: none;
    margin-left: 820px;
}

#caixa button {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("imgs/walpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    justify-content: center;
    height: 100vh;
}

#titulo {
    color: #3498db;
    padding: 3vh;
}

li {
    background-color: white;
    border: #3498db 3px solid;
    display: inline-block;
    margin: 10px;
    border-radius: 5%;
}

ul, h1{
   display: flex;
   justify-content: center;
}
  
button {
	border: black 0px solid;
}
  
#maisquizzes {
	font-size: 1.65em;  
}

#ty {
	margin-top: 500vh;
	width: 100%;
	padding-left: auto;
}

@media screen and (min-width:800px) {
    li{
        display: block;
    }
}
  
